doctype html
html
    head
      title Dance Academy
      style
         include ../static/style.css
    body
    nav#navbar 
        ul
            div#logo
                img(src="https://images.unsplash.com/photo-1621976498727-9e5d56476276?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
                | Dance
            li Home
            li About
            li Service 
            li Contact 
            li Help

    .section1 
        h1 Newly Introduced Dance Academy 
        h2 Dance, Sweat, Smile
    //- hr
    .section2 
        h1 Our Dances/Sessions
        .box.rightbd.btmbd#hiphop
            div.head
                 h2 HIPHOP
                 ul
                     li 
                              |✓ Hip-hop allows for individual creativity and expression.
                     li 
                              |✓ expresses confidence, attitude, and individuality
                     li 
                              |✓ Improved Flexibility.
            .gallery#gal1 
                div.p1(
                         style="background-image: url(https://images.unsplash.com/photo-1548123378-bde4eca81d2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);")
                div.p1.row-2(
                         style="background-image: url(https://cdn.pixabay.com/photo/2019/04/06/00/21/man-4106429_1280.jpg);")
                div.p1(
                         style="background-image: url(https://cdn.pixabay.com/photo/2017/08/07/11/02/street-dancer-2602633_1280.jpg);")
                div.p1.col-2(
                         style="background-image: url(https://cdn.pixabay.com/photo/2018/03/24/11/22/hip-hop-3256398_1280.jpg);")

        .box.leftbd.btmbd#lyrical 
            div.head
                 h2 LYRICAL
            ul
                 li 
                        |✓ Flow and Fluidity
                 li 
                        |✓ Lyrical dance express emotions through music with precision
                 li 
                        |✓ Flow of movement to the song's lyrics
            .gallery#gal2
                 div.p1(
                         style="background-image: url(https://cdn.pixabay.com/photo/2016/05/06/17/06/ballerinas-1376250_1280.jpg);")
                 div.p1.row-2(
                         style="background-image: url(https://cdn.pixabay.com/photo/2019/07/25/10/43/ballerina-4362282_1280.jpg);")
                 div.p1(
                         style="background-image: url(https://images.unsplash.com/photo-1502519144081-acca18599776?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);")
                 div.p1.col-2(
                         style="background-image: url(https://plus.unsplash.com/premium_photo-1682089706055-d5ef14dc14e4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);")
        .box.rightbd.topbd#classical
            div.head
                 h2 CLASSICAL
                 ul 
                    li 
                        |✓ Stress Reduction
                    li 
                        |✓ Coordination and Balance
                    li 
                        |✓ Creativity and Self-Expression
            .gallery#gal3
                div.p1(
                         style="background-image: url(https://images.unsplash.com/photo-1583661676511-6136039fc42a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);")
                div.p1.row-2(
                         style="background-image: url(https://images.unsplash.com/photo-1560646008-44ea61640db6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);")
                div.p1(
                         style="background-image: url(https://cdn.pixabay.com/photo/2015/01/14/20/31/indian-dance-599611_1280.jpg);")
                div.p1.col-2(
                         style="background-image: url(https://images.unsplash.com/photo-1495791185843-c73f2269f669?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);")
            
        .box.leftbd.topbd#contemporary
            div.head
                 h2 CONTEMPORARY
                 ul 
                    li 
                        |✓ Freedom of Expression
                    li 
                        |✓ Fluidity and Versatility
                    li 
                        |✓ Collaborative Art Form
          
       
            .gallery#gal4
                 div.p1(
                         style="background-image: url(https://images.unsplash.com/photo-1535525153412-5a42439a210d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);")
                 div.p1.row-2(
                         style="background-image: url(https://images.unsplash.com/photo-1540324155974-7523202daa3f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1915&q=80);")
                 div.p1(
                         style="background-image: url(https://images.unsplash.com/photo-1531947556702-6b7a7c64b83e?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);")
                 div.p1.col-2(
                         style="background-image: url(https://images.unsplash.com/photo-1547153760-18fc86324498?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);")
    .section3 
         div.ctct
             h1 Register Here
         div.frm 
            form(action="/contact" method="post")
                input(type="text" ,name="name", id="name", placeholder="ENTER YOUR NAME")
                //- label(for="email") E-mail:
                input(type="email" name="email" id="email" placeholder="WRITE YOUR E-MAIL")
                //- label(for="gender") Select Gender:
                select(name="gender" id="gender")
                     option(value="default") Select
                     option(value="Male") Male
                     option(value="Female") Female
                     option(value="other") Other
                //- label(for="number") Mobile-No:
                input(type="tel" name="number" id="number" placeholder="ENTER YOUR MOBILE")
                //- label(for="text") Tell About You..
                textarea(name="text" placeholder="More About You.." id="text" cols="45" rows="10")
                button.btn(type="submit") SUBMIT
 
    .section4 
        .heading
            h1 Our Success🏆
        .list 
            div.pic
                img(src="https://yt3.googleusercontent.com/ytc/AGIKgqPnwgyyKO5-jsPTOgpyz2sMDqQolIPGO155ZJj1=s900-c-k-c0x00ffffff-no-rj", alt="did")
                img(src="https://d30ny7ijak9wq4.cloudfront.net/s3fs-public/images/story/2016/12/16/cover_1.jpg", alt="superdancer")
                img(src="https://lh6.ggpht.com/kGn8wFEuQGZTwxLtMmm4QTYyd8akcL6uuH-UM8yq0HfeoQLzg3GDhspCccMxnLmuRg", alt="nachbaliye")
    footer.ftr  
       p  Copyright© 2023 Dance Academy | All Right Reserved